<div class="container">
    <div>
        <div class="image-wrapper">
            <a href="visual.html"><img class="round spin" src="images/visual_icon.png" alt="Image of Kyou Fujibayashi from the visual novel Clannad"></a>
            <p>Visual Novel Corner</p>
        </div>
        <div class="image-wrapper">
            <a href="clannad.html"><img class="round spin" src="images/clannad_icon.png" alt="Image of a dango from the anime series Clannad"></a>
            <p>Clannad Corner</p>
        </div>
        <div class="image-wrapper">
            <a href="anime.html"><img class="round spin" src="images/anime_icon.png" alt="Image of the character Nagisa Furukawa from the anime Clannad"></a>
            <p>Anime<br> &nbsp;Corner</p>
        </div>
        <div class="image-wrapper">
            <a href="fan.html"><img class="round spin" src="images/fan_icon.png" alt="Image of Ayu from the fan game series Kanoso"></a>
            <p>Fan<br> &nbsp;Corner</p>
        </div>
    </div>

    <div>
        <div class="image-wrapper">
            <a href="tsukihime.html"><img class="round spin" src="images/tsukihime_icon.png" alt="Image of Arcueid Brunestud from the visual novel Tsukihime"></a>
            <p>Tsukihime Corner</p>
        </div>
        <div class="image-wrapper">
            <a href="merchandise.html"><img class="round spin" src="images/merchandise_icon.png" alt="Image of a plush of the character Ciel from the visual novel Tsukihime"></a>
            <p>Merchandise Corner</p>
        </div>
        <div class="image-wrapper">
            <a href="manga.html"><img class="round spin" src="images/manga_icon.png" alt="Manga panel of Arcueid Brunestud from the manga Tsukihime"></a>
            <p>Manga<br> &nbsp;Corner</p>
        </div>
        <div class="image-wrapper">
            <a href="vnds.html"><img class="round spin" src="images/vnds_icon.png" alt="Image of the logo for the visual novel program vnds"></a>
            <p>vnds<br> &nbsp;Corner</p>
        </div>
    </div>
</div>