body {
    background-image: url("../images/manga/manga_background.png");
	-webkit-text-stroke-color: var(--color-1);
	-webkit-text-stroke-width: 1px;
}

@media (max-width: 768px) {
    .container {
		margin-top: 2000px;
    }
}