/*Color variables*/
:root {
    /*Eerie black*/
    --color-1: #172121;
	/*White smoke*/
	--color-2: #F5F5F5;
	/*Chinese Black*/
	--color-3: #111111;
	/*Gray*/
	--color-4: #818181;
}

/*Main body stuff*/
body {
	font-family: "MS Gothic", "Times New Roman", Times, serif;
	font-size: 22px;
	line-height: 32px;
	margin: 0;
	padding: 16px;
	color: var(--color-2);
	word-wrap: break-word !important;
	background-image: url("../images/background.png");
}

/*Make links look like normal text except on hover*/
a {
	text-decoration: none;
	color: var(--color-2);
}

a:hover {
	text-decoration: underline;
}

/*List syling*/
ul {
	list-style: none;
}

.block-list a {
	display: block;
	width: 60%;
}

/*Text stuff*/
h1 {
	margin-top: 75px;
}

h1, h2 {
	-webkit-text-stroke-color: var(--color-1);
	-webkit-text-stroke-width: 1px;
}

/*Stuff above rows of images*/
.main {
	width: 70%;
	margin: auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.main p {
	margin-bottom: 50px;
	text-align: justify;
}

.main img {
	margin-top: 20px;
}

/*Center an image*/
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/*Round the edges of an image*/
.round {
	border-radius: 25px;
}

/*Styling the footer*/
footer {
	position: fixed;
	z-index: 999;
	padding: 200px 0 0;
	left: 50%;
	transform: translate(-50%);
}

/*Expandable stuff*/
.expandable {
	-webkit-text-stroke-width: 0;
	font-weight: bold;
	color: var(--color-1);
}

.expandable-open .expandable-content-wrapper {
	opacity: 1;
	visibility: visible;
	max-height: 10000px;
	transition: opacity .5s ease-out, max-height .5s ease-out, visibility 0s;
}

.expandable-open .expandable-icon {
	transform: rotate(-90deg);
}

.expandable a {
	cursor: default;
	display: inline-block;
}

.expandable-open a {
	cursor: pointer;
}

.expandable-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px;
	user-select: none;
	background-color: var(--color-1);
	color: var(--color-2);
	border-radius: 10px 10px 0 0;
}

.expandable-title a {
	cursor: pointer;
}

.expandable-icon {
	transition: transform 0.5s;
	cursor: pointer;
	font-size: 35px;
}

.expandable-content {
	background-color: var(--color-1);
  	border: 1px solid var(--color-1);
	color: var(--color-2);
	border-radius: 0 0 10px 10px;
}

.expandable-content-wrapper {
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	max-height: 0;
	transition: opacity .5s ease-out, max-height .5s ease-out, visibility 0s .5s;
}

.expandable p {
	padding: 0 10px;
}

/*So images are side by side*/
.image-container {
    display: flex;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 25px;
}

/*Table styling*/
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: left;
	background-color: var(--color-1);
    color: var(--color-2);
}

table th, table td {
    padding: 12px 15px;
	color: var(--color-2);
	background-color: var(--color-1);
    border: 1px solid var(--color-2);
}

/*Side bar nav thing stuff*/
.sidenav {
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--color-3);
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
  
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: var(--color-4);
	display: block;
	transition: 0.3s;
}
  
.sidenav a:hover {
	color: var(--color-2);
}
  
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/*iframe styling*/
iframe {
	display: block;
    margin: 20px auto;
    overflow: hidden;
    width: 100%;
    max-width: 900px; 
    height: auto;
    aspect-ratio: 3 / 2;
    border: none;
  }