body {
    background-image: url("../images/vnds/vnds_background.png");
}

.expandable-title {
  background-color: var(--color-1);
  color: var(--color-2);
}

.expandable-content {
  background-color: var(--color-1);
  border: 1px solid var(--color-1);
  color: var(--color-2);
}

h2, h1, footer a {
  -webkit-text-stroke-color: var(--color-1);
	-webkit-text-stroke-width: 1px;
}

footer a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-2);
}